<div class="signup-h">
  <h3>Edit your profile</h3>
</div>
<div class="list backplate">
  <form class="profile-form" action="/profile/edit" method="post">
  <% if (currentUser.is_artist) {%>
    <label><b>Name:</b> </label> <input class="font-awesome rounded" type="text" size="20" name="name" value="<%= user.name %>" required>
    <label><b>Email:</b> </label> <input class="font-awesome rounded" type="email" size="20" name="email" value="<%= user.email %>" required>
    <label><b>Telephone :</b> </label> <input class="font-awesome rounded" type="number" size="20" name="telephone" value="<%= user.telephone %>" required>
    <label><b>Homepage:</b> </label> <input class="font-awesome rounded" type="url" size="30" name="homepage" value="<%= user.homepage %>" required>
    <label><b>Image:</b> </label> <input class="font-awesome rounded" type="text"  name="image" value="<%= user.image %>" required>
  <% } else {%>
    <label><b>Name:</b> </label> <input class="font-awesome rounded" type="text" size="20" name="name" value="<%= user.name %>" required>
    <label><b>Email:</b> </label> <input class="font-awesome rounded" type="email" size="20" name="email" value="<%= user.email %>" required>
    <label><b>Telephone :</b> </label> <input class="font-awesome rounded" type="numeric" size="20" name="telephone" value="<%= user.telephone %>" required>
    <label><b>Homepage:</b> </label> <input class="font-awesome rounded" type="text" size="30" name="homepage" value="<%= user.homepage %>" required>
  <% }%>
  <input class="button" type="submit" value="Update">
  </form>
</div>


