
<form action="/profile/edit" method="post">
<% if (currentUser.is_artist) {%>
  <h1>User Artist</h1>
  <label><b>Name:</b> </label> <input type="text" size="20" name="name" value="<%= user.name %>" required><br/><br/>
  <label><b>Email:</b> </label> <input type="email" size="20" name="email" value="<%= user.email %>" required><br/><br/>
  <label><b>Telephone :</b> </label> <input type="number" size="20" name="telephone" value="<%= user.telephone %>" required><br/><br/>
  <label><b>Homepage:</b> </label> <input type="url" size="30" name="homepage" value="<%= user.homepage %>" required><br/><br/>
  <label><b>Image:</b> </label> <input type="url"  name="image" value="<%= user.image %>" required><br/><br/>
<% } else {%>
<h1>user Space</h1>
  <label><b>Name:</b> </label> <input type="text" size="20" name="name" value="<%= user.name %>" required><br/><br/>
  <label><b>Email:</b> </label> <input type="email" size="20" name="email" value="<%= user.email %>" required><br/><br/>
  <label><b>Telephone :</b> </label> <input type="numeric" size="20" name="telephone" value="<%= user.telephone %>" required><br/><br/>
  <label><b>Homepage:</b> </label> <input type="url" size="30" name="homepage" value="<%= user.homepage %>" required><br/><br/>
<% }%>
<input type="submit" value="Send">
</form>



