
<form action="/profile/space" method="post">
<h1>Spaces</h1>
  <label><b>Name:</b> </label> <input type="text" size="20" name="name" value="<%= space[0].name %>"><br/><br/>
  <label><b>Contact Name:</b> </label> <input type="text" size="20" name="contactName" value="<%= space[0].contactName %>"><br/><br/>
  <label><b>Email:</b> </label> <input type="email" size="20" name="email" value="<%= space[0].email %>"><br/><br/>
  <label><b>Telephone :</b> </label> <input type="number" size="20" name="telephone" value="<%= space[0].telephone %>"><br/><br/>
  <label><b>Homepage:</b> </label> <input type="url" size="30" name="homepage" value="<%= space[0].homepage %>"><br/><br/>
  <label><b>Image:</b> </label> <input type="url"  name="image" value="<%= space[0].image %>"><br/><br/>
  <input type="hidden" name="id" value="<%= space[0]._id %>"><br/><br/>
  <input type="submit" value="Update">
</form>
