<h1>Messages</h1>
<div class="sender-receiver">
  <div class="senders-div overflow">
    <div class="signup-h">
      <h3>Requests Sent</h3>
    </div>
    <div class="backplate">
      <div class="senders">
        <% if (senders !== null) { %>
          <% senders.forEach((message) => { %>
            <% if (message.reciever !== null) { %>
            <p><%= message.reciever.username %> </p>
            <p><%= message.reciever.name %> </p>  
            <p><%= message.reciever.homepage %> </p>  
          <% } %>
            <hr/>
          <% })%> 
        <% } %>
      </div>
    </div>
  </div>

  <div class="receivers-div overflow">
    <div class="signup-h">
      <h3>Requests Recieved</h3>
    </div>
    <div class="backplate">
      <div class="receiver">
        <% if (recivers !== null)  { %>
          <% recivers.forEach((message) => { %>
            <p><%= message.sender.username %> </p>
            <p> <%= message.sender.name %> </p>
            <p> <%= message.sender.email %> </p>
            <p> <%= message.sender.telephone %> </p>
            <p> <%= message.sender.homepage %> </p>
            <hr/>
          <% })%> 
        <% } %>
      </div>
    </div>
  </div>
</div>