<div class="wrap">
  <div class="wrap-div">
    <div class="signup-h profile-back">
      <h3>Your profile</h3>
    </div>
    <div class="backplate profile-back">  
      <div class="profile-image">
        <img class="spaces-img" src="<%= currentUser.image %>" />
        <ul>
          <li><%= currentUser.name %></li>
          <li><%= currentUser.email %></li>
          <li><%= currentUser.telephone %></li>
        </ul>
        <a href="<%= currentUser.homepage %>">Your homepage</a>
      </div>
      <div class="button-box">
        <a href="/profile/edit" class="button">Edit</a>
        <% if (!currentUser.is_artist) { %>
        <a href="/profile/space" class="button artists">My spaces</a>
        <% } %>
      </div>
    </div>
  </div>

  <div class="wrap-div">
    <div class="signup-h">
      <h3>Your messages</h3>
    </div>
    <div class="backplate">
    <div class="icons"><i class="far fa-comment fa-2x"></i></div>
      <p>You can follow your requests and answers from your Messages portal.</p>
      <div>
        <a href="/profile/messages" class="button">Messages</a>
      </div>
    </div>
  </div>

  <div class="wrap-div">
    <div class="signup-h">
      <% if (currentUser.is_artist) { %>
        <h3>Exhibitors</h3>
      <% } else { %>
        <h3>Artists</h3>
      <% } %>
    </div>
    <div class="backplate">
      <% if (currentUser.is_artist) { %>
        <div class="icons"><i class="far fa-eye fa-2x"></i></div>
        <p>Visit our list of available Exhibitors. From here you can easily send them requests for further contact.</p>
      <% } else { %>
        <div class="icons"><i class="far fa-grin fa-2x"></i></div>
        <p>Visit our list of professional Artists. From here you can easiy send them requests for further contact.</p>
      <% } %>
      <div class="profile">
        <% if (currentUser.is_artist) { %>
          <a href="/spaces" class="button spaces">Exhibitors</a>
        <% } else { %>
          <a href="/artists" class="button artists">Artists</a>
        <% } %>
      </div>
    </div>
  </div>
</div>