<div class="wrap">
  <div class="wrap-div">
    <div class="signup-h profile-back">
      <h3>Your profile</h3>
    </div>
    <div class="backplate profile-back">  
      <div class="profile-image">
        <img class="spaces-img" src="<%= edituser.image %>" />
        <ul>
          <li><%= edituser.name %></li>
          <li><%= edituser.email %></li>
          <li><%= edituser.telephone %></li>
        </ul>
        <a href="<%= edituser.homepage %>" target="_blank">Your homepage</a>
      </div>
      <% if (!currentUser.is_artist) { %>
        <div class="button-box">
      <% } else { %>
        <div>
      <% } %>
        <div class="button-edit-left fix fixx">
        <strong>Your profile:</strong>
          <a href="/profile/edit" class="button">Edit</a>
          </div>
        <% if (!currentUser.is_artist) { %>
        <div class="button-edit fix fixx">
          <strong>Your spaces:</strong>
          <a href="/profile/space" class="button artists">Edit</a>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <div class="wrap-div">
    <div class="signup-h">
      <h3>Your messages</h3>
    </div>
    <div class="backplate">
    <div class="icons"><i class="far fa-comment fa-2x"></i></div>
      <p>You can follow your requests and answers from your Messages portal.</p>
      <div>
        <a href="/profile/messages" class="button">Messages</a>
      </div>
    </div>
  </div>

  <div class="wrap-div">
    <div class="signup-h">
      <% if (edituser.is_artist) { %>
        <h3>Exhibitors</h3>
      <% } else { %>
        <h3>Artists</h3>
      <% } %>
    </div>
    <div class="backplate">
      <% if (currentUser.is_artist) { %>
        <div class="icons"><i class="far fa-eye fa-2x"></i></div>
        <p>Visit our list of available Exhibitors. From here you can easily send them requests for further contact.</p>
      <% } else { %>
        <div class="icons"><i class="far fa-grin fa-2x"></i></div>
        <p>Visit our list of professional Artists. From here you can easiy send them requests for further contact.</p>
      <% } %>
      <div class="profile">
        <% if (edituser.is_artist) { %>
          <a href="/spaces" class="button spaces">Exhibitors</a>
        <% } else { %>
          <a href="/artists" class="button artists">Artists</a>
        <% } %>
      </div>
    </div>
  </div>
</div>