<nav class="navbar">
  <div class="navbar-div">
    <div><a href="/"><img class="logo" src="../images/Linkyart-logo-white.png" alt="Linkyart logo"/></a></div>
    <ul class="signup-and-login">
      <% if (currentUser) { %>
        <% if (currentUser.is_artist) { %>
          <li><span class="user-name"><%= currentUser.username %></span>
        <% } else { %>
          <li><span class="user-name"><%= currentUser.username %></span>
        <% } %>
        <li><form method="post" action="/auth/logout">
          <input class="logout-button cursor" type="submit" value="Log out">
        </form></li>
      <% } else { %>
        <li><a href="/auth/signup">Sign up</a></li>
        <li><a href="/auth/login">Log in</a></li>
      <% } %>
    </ul>
  </div>

  <% if (currentUser) { %>
    <div class="nav-bar-div">
      <ul class="nav-bar">
        <a href="/" class="btn <%= isActive('/') %> "><li>Home</li></a>
        <a href="/profile" class="btn <%= isActive('/profile') %>"><li>Profile</li></a>
        <a href="/profile/messages" class="btn <%= isActive('/profile/messages') %>"><li>Messages</li></a>
        <% if (currentUser.is_artist) { %>
          <a href="/spaces" class="btn <%= isActive('/spaces') %>"><li>Exhibitors</li></a>
        <% } else { %>
          <a href="/artists" class="btn <%= isActive('/artists') %>"><li>Artists</li></a>
        <% } %>
      </ul>
    </div>
  <% } %>

</nav>