<div class="spaces-div">
  <% spaces.forEach(space => { %>
    <div class="spaces">
      <div class="signup-h">
        <h3><%= space.name %></h3>
      </div>
      <div class="backplate">
        <div>
          <img class="spaces-img" src="<%= space.image %>" />
          <div class="fixx">
            <div class="fix"><%= space.name %></div>
            <div class="fix"><%= space.contactName %></div>
            <a href="<%= space.homepage %>" target="_blank">Visit homepage</a>
          </div>
          <a href="/spaces/<%= space._id %>"><button class="button">See more</button></a>
        </div>
      </div>
    </div>
  <% }) %>
  </div>
</div>