<div class="signup-h">
  <h3><%= user.name %></h3>
</div>
<div class="backplate">
  <div class="overflow">
    <img class="spaces-img" src="<%= user.images %>" />
    <p><%= user.username %></p>
    <p><%= user.homepage %></p>
    <form action="/artists/<%= user._id %>" method="post">
      <button class="button" type="submit">Send a Request</button>
    </form>
  </div>
</div>