<div class="spaces-div">
  <% users.forEach(user => { %>
    <div class="spaces">
      <div class="signup-h">
        <h3><%= user.name %></h3>
      </div>
      <div class="backplate">
        <div>
          <img class="spaces-img" src="<%= user.image %>" />
          <div class="fixx">
            <div class="fix"><%= user.username %></div>
            <div class="fix"><%= user.name %></div>
            <a href="<%= user.homepage %>" target="_blank">Visit homepage</a>
          </div>
          <a href="/artists/<%= user._id %>"><button class="button">See more</button></a>
        </div>
      </div>
    </div>
  <% }) %>
  </div>
</div>